<div id="player-<%= player.id %>" class="squad-player-card" draggable="true"  data-action="dragstart->squadplace#playerDragHandler">
  <div class="player-card-avatar">
    <% if player.avatar.blank? %>
      <%= image_tag "avatar_1.png" %>
    <% else %>
      <%= image_tag player.avatar.photo %>
    <% end %>
  </div>
  <div class="player-card-info">
    <div class="player-card-first">
      <p><%= player.first_name %></p>
    </div>
    <div class="player-card-name">
      <p><%= player.last_name %></p>
    </div>
  </div>
  <div class="player-card-rating">
    <p><%= player.rating %></p>
    <div class="squad-player-form">
      <%= simple_form_for [@squad, player] do |f| %>
        <% f.input :squad_place_id, as: :hidden %>
      <% end %>
    </div>
  </div>
</div>
