<%= simple_form_for [@squad, @player] do |f| %>
  <div style="display:flex;justify-content: space-between;">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :nation %>
  </div>
  <div style="display:flex;justify-content: space-between;">
    <%= f.input :age %>
    <%= f.input :rating %>
    <%= f.input :potential_low %>
    <%= f.input :potential_high %>
  </div>
  <div style="display:flex;justify-content: space-between;">
    <div class="badge-legend">
      <small><i class="fas fa-crown"></i> Prem&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| 94-95</small><br>
      <small><i class="fas fa-star"></i> Champ&nbsp;&nbsp;&nbsp;&nbsp;| 90-93</small><br>
      <small><i class="fas fa-gem"></i> Lg1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| 88-89</small><br>
      <small><i class="fas fa-shield-alt"></i> Lg2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| 85-87</small><br>
      <small><i class="fas fa-futbol"></i> VN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| 80-84</small><br>
      <small><i class="fas fa-seedling"></i> Seedling&nbsp;| Youth</small>
    </div>
    <%= f.input :badge, collection: Player::BADGES %>
    <%= f.input :status, collection: Player.statuses.keys %>
    <%= f.association :squad_place, collection: @squad.squad_places  %>
  </div>
  <%= f.input :position_list, as: :check_boxes, collection: Player::POSITIONS %>
  <div style="display:flex;flex-wrap: wrap;">
    <% Avatar.find_each do |avatar| %>
      <div style="display:flex;flex-direction:column;">
        <%= image_tag avatar.photo, style: "margin-right: 5px;width: 100px;
      height: 100px;" %>
        <span><%= avatar.photo %></span>
      </div>
    <% end %>
  </div>
  <%= f.association :avatar %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
