<div class="squad-header"> <!-- flex -->
  <div class="squad-header-name">
    <h5><%= @squad.name %></h5>
  </div>
  <div class="squad-header-titles">
    <div class="squad-header-labels" style="background-color: #20B6D9">
      <p style="color:#20B6D9">Squad</p>
    </div>
    <div class="squad-header-title">
      <h5>All ( <%= @squad.players_except_youth.count %> / 52 )</h5>
    </div>
    <div class="squad-header-title">
      <h5>FW ( <%= @squad.first_row_players.count %> )</h5>
    </div>
    <div class="squad-header-title">
      <h5>MF ( <%= @squad.second_row_players.count %> )</h5>
    </div>
    <div class="squad-header-title">
      <h5>DF ( <%= @squad.third_row_players.count %> )</h5>
    </div>
    <div class="squad-header-title">
      <h5>GK ( <%= @squad.fourth_row_players.count %> )</h5>
    </div>
  </div>
  <div class="squad-header-stats">
    <div class="squad-header-labels">
      <p style="border-top: 1px solid #707070;">&nbsp;</p>
      <p>Squad</p>
      <p>Loan</p>
      <p>Youth</p>
    </div>
    <% columns = [@squad.players, @squad.first_row_players, @squad.second_row_players, @squad.third_row_players, @squad.fourth_row_players] %>
    <% columns.each do |players| %>
      <div class="squad-header-stat">
        <div class="squad-header-stat-row" style="border-bottom: 1px solid #DBDBDB;background-color: #707070;color: #DBDBDB;">
          <div class="squad-header-stat-row-one">
            <p><i class="fas fa-users"></i></p>
          </div>
          <div class="squad-header-stat-row-two">
            <p><i class="fas fa-star"></i></p>
          </div>
        </div>
        <div class="squad-header-stat-row">
          <div class="squad-header-stat-row-one">
            <p><%= all = players.where(status: "squad").count %></p>
          </div>
          <div class="squad-header-stat-row-two">
            <p><%= (players.where(status: "squad").pluck(:rating).inject(:+) / all.to_f).round(2) %></p>
          </div>
        </div>
        <div class="squad-header-stat-row">
          <div class="squad-header-stat-row-one">
            <p><%= loan = players.where(status: "loan").count %></p>
          </div>
          <div class="squad-header-stat-row-two">
            <p><%= (players.where(status: "loan").pluck(:rating).inject(:+) / loan.to_f).round(2) %></p>
          </div>
        </div>
        <div class="squad-header-stat-row">
          <div class="squad-header-stat-row-one">
            <p><%= youth = players.where(status: "youth").count %></p>
          </div>
          <div class="squad-header-stat-row-two">
            <p><%= (players.where(status: "loan").pluck(:rating).inject(:+) / youth.to_f).round(2) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
