<% @squad.squad_rows.order(number: :asc).each do |row| %>
  <div class="squad-row" id="squad-row-<%= row.id %>">
    <% row.squad_places.each do |place| %>
      <div class="squad-place-card" id="squad-place-card-<%= place.id %>" data-controller="squadplace">
        <div class="squad-place-name">
          <h5><%= link_to place.name, edit_squad_place_path(place) %></h5>
        </div>
        <div class="squad-place-player" id="squad-place-players-<%= place.id %>" data-action="drop->squadplace#playerDropHandler dragover->squadplace#playerDragOverHandler" data-id="<%= place.id %>">
          <% if place.players.empty? %>
            <p>-</p>
          <% else %>
            <% place.players.order(rating: :desc).each do |player| %>
              <div id="player-<%= player.id %>" class="squad-player-card" draggable="true"  data-action="dragstart->squadplace#playerDragHandler">
                <div class="player-card-name">
                  <p><%= player.last_initial %></p>
                  <p><%= player.rating %></p>
                </div>
                <div class="squad-player-form">
                  <%= simple_form_for [@squad, player] do |f| %>
                    <% f.input :squad_place_id, as: :hidden %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="row-actions">
      <%= link_to edit_squad_squad_row_path(@squad, row) do %>
        <i class="far fa-edit"></i>
      <% end %>
    </div>
  </div>
<% end %>
<div class="squad-row" id="squad-row-new">
  <div class="row-actions">
    <%= link_to new_squad_squad_row_path(@squad) do %>
      <i class="fas fa-plus-square"></i>
    <% end %>
  </div>
</div>
<!-- ondragstart="playerDragStartHandler(event);" -->
