<div class="squad-list-row">
    <div class="squad-player-info">
      <div class="squad-player-badge">
      </div>
      <div class="squad-player-name">
        <p>Name</p>
        <%= link_to new_squad_player_path(@squad) do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>
    <div class="squad-player-positions">
    </div>
    <div class="squad-player-stats">
      <div class="squad-player-rating">
        <p>R</p>
      </div>
      <div class="squad-player-potential">
        <p>P</p>
      </div>
      <div class="squad-player-age">
        <p>Age</p>
      </div>
    </div>
  </div>
<% @squad.players.each do |player| %>
  <div class="squad-list-row">
    <div class="squad-player-info">
      <div class="squad-player-badge">
        <i class="fas fa-<%= player.badge %>"></i>
      </div>
      <div class="squad-player-name">
        <p><%= link_to player.full_name, edit_squad_player_path(@squad, player) %></p>
      </div>
    </div>
    <div class="squad-player-positions">
      <% player.position_list.each do |position| %>
        <span><%= position %></span>
      <% end %>
    </div>
    <div class="squad-player-stats">
      <div class="squad-player-rating">
        <p><%= player.rating %></p>
      </div>
      <div class="squad-player-potential">
        <p><%= "#{player.potential_low} - #{player.potential_high}" %></p>
      </div>
      <div class="squad-player-age">
        <p><%= player.age %></p>
      </div>
    </div>
  </div>
<% end %>
