<div class="squad-list-row-header">
  <div class="squad-player-info">
    <div class="squad-player-basic">
      <p>Player (<%= @squad.players.where.not(status: "youth").count %>)</p>
      <div class="squad-player-name" style="margin-left:10px;font-weight: bold;">
        <%= link_to new_squad_player_path(@squad), class: "color-orange" do %>
          <i class="fas fa-plus color-red"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="squad-player-stats-header">
    <div class="squad-player-age" style="margin-left: 3px;">
      <p>A</p>
    </div>
    <div class="squad-player-rating" style="margin-left: 3px;">
      <p>R</p>
    </div>
    <div class="squad-player-potential" style="min-width: 50px;text-align: center;">
      <p>P</p>
    </div>
  </div>
</div>
<% @squad.squad_rows.each do |squad_row| %>
  <div class="squad-list-row-wrapper">
    <% squad_row.players.order(rating: :desc).each do |player| %>
      <div class="squad-list-row">
        <div class="squad-player-info">
          <div class="squad-player-basic">
            <div class="squad-player-badge">
              <i class="fas fa-<%= player.badge %>"></i>
            </div>
            <div class="squad-player-name">
              <p><%= link_to player.full_name, edit_squad_player_path(@squad, player) %></p>
            </div>
          </div>
          <div class="squad-player-positions">
            <% player.position_list.each do |position| %>
              <span class="<%= position_class(position) %>"><%= position %></span>
            <% end %>
          </div>
        </div>
        <div class="squad-player-stats">
          <div class="squad-player-age">
            <p><%= player.age %></p>
          </div>
          <div class="squad-player-rating">
            <p><%= player.rating %></p>
          </div>
          <div class="squad-player-potential">
            <p><%= "#{player.potential_low} - #{player.potential_high}" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
