<div class="squad-header"> <!-- flex -->
</div>

<div class="squad-container">
  <div class="squad-list">
    <% @squad.players.each do |player| %>
      <div class="squad-list-row">
        <div class="squad-player-badge">
          <%= image_tag player.badge %>
        </div>
        <div class="squad-player-name">
          <p><%= player.full_name %></p>
        </div>
        <div class="squad-player-positions">
          <% player.position_list.each do |position| %>
            <span><%= position %></span>
          <% end %>
        </div>
        <div class="squad-player-stats">
          <div class="squad-player-rating">
            <p><%= player.rating %></p>
          </div>
          <div class="squad-player-potential">
            <p><%= "#{player.potential_min} - #{player.potential_max}" %></p>
          </div>
          <div class="squad-player-age">
            <p><%= player.rating %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="squad-body">
    <% @squad.squad_places.each do %>

    <% end %>
  </div>
</div>
